<form action="/foods/<%= @food.id %>" method='post' >
	<input type='hidden' name='_method' value='patch' />
	New Name: <input name='food[name]' />
	New Price: <input name='food[price]' />
	<input type='submit' />
</form>

<a href='/foods'>Back to the Menu</a>
<p><a href='/' >Home</a></p>
