<a href='/foods/new' >Create a new Food!</a>
<p><a href='/'>Back to Orders!</a></p>

<ul>
	
	<% @foods.each do |food| %>
	
		<li>
	
			<a href="/foods/<%= food.id %>"><%= food.name %>: $<%= food.price %></a>
	
		</li>

	<% end %>

</ul>
